<div class="sidebar">
    <div class="sidebar__subtitle">DISCOVER</div>
    <ul>
        <li>   <button mat-flat-button> <i class="fa fa-home"></i> Home</button></li>
        <li>   <button mat-flat-button> <mat-icon>search</mat-icon>Browse</button></li>
     
      <li></li>
      <li>   <button mat-flat-button> <mat-icon>favorite</mat-icon> for you</button></li>
    </ul>
  
<div class="sidebar__subtitle">LIBRARY</div>
    <ul>
        <li>   <button mat-flat-button> <mat-icon>star</mat-icon> Favorites</button></li>
        <li>   <button mat-flat-button> <mat-icon>book</mat-icon> My recipes</button></li>
    </ul>
  </div>
  
  
