@use './src/styles.scss' as styles;


.form__card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  width: 50%;
  backdrop-filter: blur(10px);
  background: styles.$custom-white;
  color: map-get(styles.$primary-palette, 500);
  border-radius: 8px;
  
  
    &__title {
      margin-bottom: 25px;
      backdrop-filter: blur(10px);
    }
  
    &__content {
      display: flex;
      justify-content: space-between;
  
      &__right {
        display: flex;
        flex-direction: column;
        align-items: left;
      }
    }
  
    &__actions {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      button {
        height: 50px;
        width: 150px;
        border-radius: 5px;
      }
    }
  }
  