@use '@angular/material' as mat;

.full-width {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";



@include mat.core();

$green-hortela: (
  50: #e4f1e5,
  100: #c7e6c9,
  200: #aedeb0,
  300: #95d496,
  400: #7dc77e,
  500: #63BA65,
  600: #5aa75c,
  700: #519552,
  800: #488248,
  900: #3f6f3e,
  A100: #baffb5,
  A200: #a1ffa2,
  A400: #88ff8e,
  A700: #6eff7b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);

// Configurar a paleta de cores

$my-primary: mat.define-palette($green-hortela, 700);
$my-accent: mat.define-palette($green-hortela, A700, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));
@include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($my-theme);

@include mat.all-component-themes($my-theme);


// Defina a paleta de cores escura
$green-hortela-dark: (
  50: #1d3022,
  100: #20462b,
  200: #235e35,
  300: #257740,
  400: #29944c,
  500: #2cb257,
  600: #35bd67,
  700: #4ec674,
  800: #68d082,
  900: #82d992,
  A100: #29944c,
  A200: #2cb257,
  A400: #35bd67,
  A700: #4ec674,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$dark-primary: mat.define-palette($green-hortela-dark, 500);
$dark-accent: mat.define-palette($green-hortela-dark, A700, A100, A400);


$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));

