@use '@angular/material' as mat;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";



@include mat.core();

$accent-palette: (
  50: #fef4f4,
  100: #fed7d7,
  200: #febab9,
  300: #fe9d9c,
  400: #fe8080,
  500: #FEA1A1,
  600: #fe7e7e,
  700: #fe5b5c,
  800: #fe3839,
  900: #fe1516,
  A100: #ffffff,
  A200: #ffbebe,
  A400: #ff8c8c,
  A700: #ff7373,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  )
);

$primary-palette: (
  50: #EEF2E6,
  100: #ffebe1,
  200: #D6CDA4,
  300: #ffd7b8,
  400: #ffceaa,
  500: #3D8361,
  600: #e3c5ab,
  700: #dacda2,
  800: #d2c499,
  900: #1C6758,
  A100: #ffffff,
  A200: #ffe8df,
  A400: #ffbfb0,
  A700: #ffab9a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);


$red: (
  50: #fbeae9,
  100: #f7c6c2,
  200: #f49f99,
  300: #f17771,
  400: #ee5049,
  500: #eb2822,
  600: #d0231e,
  700: #ae1c19,
  800: #8c1615,
  900: #69100f,
  A100: #ffdddc,
  A200: #ffaaaa,
  A400: #ff7777,
  A700: #ff5555,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  )
);

// Configurar a paleta de cores

$my-primary: mat.define-palette($primary-palette,500);
$my-accent: mat.define-palette($accent-palette, A700, A100, 400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette($red,800);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));
@include mat.core-theme($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
@include mat.button-theme($my-theme);

@include mat.all-component-themes($my-theme);


// Defina a paleta de cores escura
$green-hortela-dark: (
  50: #1d3022,
  100: #20462b,
  200: #235e35,
  300: #257740,
  400: #29944c,
  500: #2cb257,
  600: #35bd67,
  700: #4ec674,
  800: #68d082,
  900: #82d992,
  A100: #29944c,
  A200: #2cb257,
  A400: #35bd67,
  A700: #4ec674,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$custom-white: #EEF2E6;
$dark-primary: mat.define-palette($green-hortela-dark, 500);
$dark-accent: mat.define-palette($green-hortela-dark, A700, A100, A400);


$dark-theme: mat.define-dark-theme((
 color: (
   primary: $dark-primary,
   accent: $dark-accent,
   warn: $my-warn,

 ),
 typography: mat.define-typography-config(),
 density: 0,
));

