<mat-card>
    <h1>New Recipe</h1>
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      <mat-step [stepControl]="recipeForm">
        <form [formGroup]="recipeForm">
          <ng-template matStepLabel>Details</ng-template>
          <app-text-input label="Name" controlName="name" [formGroup]="recipeForm"></app-text-input>
          <app-number-input label="Servings" controlName="servings" [formGroup]="recipeForm"></app-number-input>
          <app-number-input label="Preparation Time" controlName="preparationTime" [formGroup]="recipeForm"></app-number-input>
          <app-number-input label="Cook Time" controlName="cookTime" [formGroup]="recipeForm"></app-number-input>
          <app-text-input label="Image URL" controlName="image" [formGroup]="recipeForm"></app-text-input>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
  
      <mat-step [stepControl]="recipeForm">
        <ng-template matStepLabel>Ingredients</ng-template>


          <div [formGroup]="recipeForm">
            <div formArrayName="ingredients">
            <div class="form__inputs" *ngFor="let ingredient of ingredients.controls; let i = index">
              <div [formGroupName]="i">
                <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput id="name{{i}}" type="text" formControlName="name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                <mat-label >Quantity</mat-label>
                <input matInput id="quantity{{i}}" type="text" formControlName="quantity">
            </mat-form-field>
                <button mat-icon-button color="primary" (click)="addIngredient()">
                  <mat-icon>add_circle</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteIngredient(i)">
                  <mat-icon>remove_circle</mat-icon>
                </button>
              </div>
            </div>
            
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
        </div>
        </div>
 
      </mat-step>
       <!--
      <mat-step [stepControl]="recipeForm">
        <ng-template matStepLabel>Preparation Steps</ng-template>
   <div class="form__steps" *ngFor="let step of steps; let i = index">
          <div class="step-container">
            <app-text-area-input label="Step" [formControlName]="i"></app-text-area-input>
            <div class="button-container">
              <button mat-icon-button color="primary" aria-label="Example icon button with a plus one icon" (click)="addStep()">
                <mat-icon>add_circle</mat-icon>
              </button>
              <button mat-icon-button color="warn" aria-label="Example icon button with a plus one icon" (click)="removeStep(i)">
                <mat-icon>remove_circle</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>
      -->
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button type="submit" color="primary" (click)="save()" mat-raised-button>Save</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </mat-card>
  